body{
  font-family: Roboto, Arial;
}

header{
  background-color: #1F2937;
  padding-bottom: 120px;
}

nav{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.logo-holder{
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 36px;
}

nav li,
.hero-subtext,
.hero-cta,
.img-placeholder{
  font-size: 18px;
  color: #E5E7EB;
}

.hero{
  display: grid;
  grid-template-columns: 460px 700px;
  max-width: 1440px;
  margin: auto;
  justify-content: space-between;
  margin-top: 100px;
}

h1{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.hero-subtext{
  margin: 0;
}

.hero-cta{
  background-color: #3882F6;
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  border: 0;
}

.img-placeholder{
  background-color: rgb(148, 159, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

main{
  display: grid;
  grid-template-rows: 100px;
  margin: auto;
  justify-content: center;
  margin-bottom: 120px;
}

h2{
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-container{
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.img-container{
  border: 3px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.testimonial{
  background-color: #E5E7EB;
  padding: 100px 200px 100px 200px;
}

.quote{
  max-width: 1440px;
  text-align: center;
}



